body{
    font-family: 'Raleway', sans-serif;

}



h1{
    text-align: center;
    margin-top: 30px;
}

.btn{
    display: flex;
justify-content: center;
}

.btn-outline{
    color:black;
    border: 1px solid black;
    border-radius: 1px;
    font-size: 15px;
    line-height: 25px;
text-align: center;
font-variant: small-caps;}


.slides {
    width:100%; 
    height:0px; 
    margin-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;  
    display: flex;
  justify-content: center;
 }

.slides img { 
    position:absolute; 
    animation:slides 25s infinite; 
    opacity:0; 
    width: 250px; 
    height: auto;
}

@keyframes slides {25%{opacity:1;} 40%{opacity:0;}}

.slides img:nth-child(5){animation-delay:0s;}
.slides img:nth-child(4){animation-delay:5s;}
.slides img:nth-child(3){animation-delay:10s;}
.slides img:nth-child(2){animation-delay:15s;}
.slides img:nth-child(1){animation-delay:  20s;}

.contact{
    margin: 100px 50px;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
}
.email-link{
    text-decoration: none;
    font-weight: 100px;
padding-bottom: 10px;
line-height: 50px;
color: black;
}
.icons{
    font-size: 25px;
    line-height: 70px;
    text-decoration: none;
    color: black;
}


.nameTitle{
    font-size: 30px;
}

.pictures{
    width: 250px;
    height: auto;
}

       @media (min-width: 640px) {
                  .container {
width: 700px ;
margin-top: 20px;
                  }
              } 

 @media (min-width: 640px) {
                  .imageTop {
margin-top: 40px;
                  }
              } 

   footer.links a{
                font-size: 18px;
                padding: 10px 14px;
                color: rgb(78, 78, 78)
            }

            .footerHome{
                margin-top: 270px;
            }

            .creator{
                font-size: 15px;
            }
        