body{
    font-family: 'Raleway', sans-serif;

}

h1{
    text-align: center;
}


.container{
    margin-top: 55px;
    text-align: center;
}



.btn-outline{
    color:black;
    border: 1px solid black;
    border-radius: 1px;
    font-size: 15px;
    line-height: 25px;
text-align: center;
}

.fling-minislide {
    width:100%; 
    height:0px; 
    margin-top: 40px;
    padding-bottom: 20px;
    overflow: hidden;  
    display: flex;
  justify-content: center;
 }

.fling-minislide img { 
    position:absolute; 
    animation:fling-minislide 25s infinite; 
    opacity:0; 
    width: 250px; 
    height: auto;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}

.fling-minislide img:nth-child(5){animation-delay:0s;}
.fling-minislide img:nth-child(4){animation-delay:5s;}
.fling-minislide img:nth-child(3){animation-delay:10s;}
.fling-minislide img:nth-child(2){animation-delay:15s;}
.fling-minislide img:nth-child(1){animation-delay:  20s;}

.contact{
    margin: 100px 50px;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
      display: block;
  justify-content: center;
  align-items: center;
  height: 300px;
 
}