body{
    font-family: 'Raleway', sans-serif;
}

h1{
    text-align: center;
}
.arrow{
    font-size:20px;
    text-align: center;
}

.slide{
    margin-top: 25px;
}
.meet-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.fling-minislide {width:100%; height:0px; padding-bottom: 50%; overflow:hidden;  display: flex;
  justify-content: center; }
.fling-minislide img{ position:absolute; animation:fling-minislide 25s infinite; opacity:0; width: 300px; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}

.fling-minislide img:nth-child(5){animation-delay:0s;}
.fling-minislide img:nth-child(4){animation-delay:5s;}
.fling-minislide img:nth-child(3){animation-delay:10s;}
.fling-minislide img:nth-child(2){animation-delay:15s;}
.fling-minislide img:nth-child(1){animation-delay:  20s;}

